<div class="form">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmitForm()">
    <div class="field">
      <label class="label" for="email">Correo electrónico</label>
      <div class="control">
        <input
          type="email"
          name="email"
          class="input"
          formControlName="email"
        />
      </div>
    </div>
    <div class="field">
      <label class="label" for="password">Contraseña</label>
      <div class="control">
        <input
          type="password"
          name="password"
          class="input"
          formControlName="password"
        />
      </div>
    </div>
    <button
      type="submit"
      class="button is-info is-fullwidth"
      [ngClass]="{ 'is-loading': isLoading }"
    >
      Ingresar
    </button>
    <p class="error has-text-danger mt-4" *ngIf="isErrors.form">
      Debes Completar todos los campos
    </p>
    <p class="error has-text-danger mt-4" *ngIf="isErrors.back">
      Email incorrecto o ya existe
    </p>
  </form>
  <div class="form__footer">
    <p>¿Aún no tienes cuenta? <a routerLink="/auth/signup">Registrate</a></p>
  </div>
</div>
