<div class="auth">
  <div class="auth__left">
    <div class="bot">
      <img src="assets/img/bot-auth.png" alt="" />
    </div>
    <div class="text">
      <h1>Consejos para desarrolladores</h1>
      <p>
        Consejos para desarrolladores para encontrar trabajo a través de
        inteligencia artificial con Fullstapps
      </p>
    </div>
  </div>
  <div class="auth__right">
    <div class="card">
      <div class="logo">
        <img src="assets/img/logo-fullstapps.png" alt="" />
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
