.form {
  padding: 2rem;
  &__title {
    text-align: center;
    margin-bottom: 2rem;
    h1 {
      font-size: 1.5rem;
      line-height: 1.5rem;
      font-weight: 500;
    }
  }

  textarea {
    height: 120px;
  }

  button {
    display: block;
    width: 170px;
    margin-left: auto;
    margin-top: 3rem;
  }
}
